@{
    ViewBag.Title = "Планирование";
    Layout = "~/Views/Layouts/AdministratorLayout.cshtml";
}

<div class="page_block">
    <span class="block_header_strong">Автоматическое планирование</span><br />
    <br />
    <span class="block_header_strong">Период</span><br /><br />
    Дата с:<br />
    <input type="date" style="margin-bottom: 10px;" /><br />
    Дата по:<br />
    <input type="date" /><br />
    <br />
    <button class="positive">Начать планирование</button><br /><br />
    <button class="positive_green" style="margin-bottom: 10px;">Проинформировать руководителей о начале планирования</button><br />
    Лог работы:<br />
    <textarea style="width: 400px; height: 200px;" disabled>
[12:06:10] Начало работы
[12:06:10] Групп для планирования: 183, сотрудников: 3435
[12:08:12] Первый этап заполнения групп готов
[12:08:40] Второй этап заполнения групп готов
[12:23:19] Третий этап заполнения групп готов
[12:49:54] Проверка на правильность городов завершена
[12:49:54] Формирование завершено, нераспределённых сотрудников: 243
    </textarea>
    <br />
    <button class="negative" style="margin-top: 10px; margin-bottom: 10px;">Отменить результаты прошлого планирования</button>
</div>

<div class="page_block">
    <span class="block_header_strong">Ручное планирование</span><br />
    <br />

    ФИО студента:<br />
    <input type="text" placeholder="Введите ФИО студента" style="width: 400px;" /><br />
    <br />
    <button class="positive">Управление заявками</button><br />
    <button class="positive" style="margin-top: 10px;">Зачислить в группу</button><br />
    <button class="positive" style="margin-top: 10px;">Назначить курсы</button><br />
</div>

<div class="page_block">
    <span class="block_header_strong">Загрузка привязки сотрудника к курсу</span><br />
    Загрузить привязку:<br />
    <input type="file" /> <br />
    <br />
    <button class="positive">Отправить</button>
</div>

<div class="page_block">
    <span class="block_header_strong">Загрузка привязки должности к курсу</span><br />
    Загрузить привязку:<br />
    <input type="file" /> <br />
    <br />
    <button class="positive">Отправить</button>
</div>

<div class="page_block">
    <span class="block_header_strong">Привязка должности к курсу</span><br />
    Должность:<br />
    <input type="text" placeholder="Введите название должности" style="width: 400px;" /><br />
    <button class="neutral" style="margin-top: 10px;">Найти</button>
    <br />
    <br />Курс:<br />
    <input type="text" placeholder="Введите название курса" style="width: 400px;" /><br />
    <button class="positive_green">Добавить</button>

    <table class="learning">
        <thead>
            <th>№</th>
            <th>Курс</th>
            <th>Действие</th>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Основы кибербезопасности</td>
                <td style="text-align: center;">Удалить</td>
            </tr>

            <tr>
                <td>2</td>
                <td>Навыки личной эффективности</td>
                <td style="text-align: center;">Удалить</td>
            </tr>

            <tr>
                <td>3</td>
                <td>Тайм-менеджмент для профессионалов</td>
                <td style="text-align: center;">Удалить</td>
            </tr>
        </tbody>
    </table>
</div>