@{
    ViewBag.Title = "Отчёты";
    Layout = "~/Views/Layouts/AdministratorLayout.cshtml";
}

<div class="page_block">
    <span class="block_header_strong">Личная карточка студента</span><br /><br />
    ФИО студента:<br />
    <input type="text" placeholder="Введите ФИО студента" style="width: 400px;"/><br />
    <button class="positive_green" style="margin-top: 10px;">Скачать</button>
</div>

<div class="page_block">
    <span class="block_header_strong">Обученность подразделения</span><br /><br />
    Наименование подразделения:<br />
    <input type="text" placeholder="Введите наименование подразделения" style="width: 600px;" /><br />
    <br />
    Дата с:<br />
    <input type="date" style="margin-bottom: 10px;" /><br />
    Дата по:<br />
    <input type="date" /><br />
    <button class="positive_green" style="margin-top: 10px;">Скачать</button>
</div>

<div class="page_block">
    <span class="block_header_strong">Общая обученность</span><br /><br />
    Дата с:<br />
    <input type="date" style="margin-bottom: 10px;" /><br />
    Дата по:<br />
    <input type="date" /><br />
    <button class="positive_green" style="margin-top: 10px;">Скачать</button>
</div>

<div class="page_block">
    <span class="block_header_strong">Заполненность групп</span><br /><br />
    Дата с:<br />
    <input type="date" style="margin-bottom: 10px;" /><br />
    Дата по:<br />
    <input type="date" /><br />
    <button class="positive_green" style="margin-top: 10px;">Скачать</button>
</div>

<div class="page_block">
    <span class="block_header_strong">Статистика группы</span><br /><br />
    Номер группы:<br />
    <input type="text" placeholder="Введите номер группы" style="width: 400px;" /><br />
    <button class="positive_green" style="margin-top: 10px;">Скачать</button>
</div>