@{
    ViewBag.Title = "Площадка";
    Layout = "~/Views/Layouts/UserLayout.cshtml";
}

<div class="page_block">
    <span class="block_header_strong">Тюмень</span><br />
    <br />
    Адрес: ул. Московский тракт, дом 14а, аудитория 421<br />

    <br />
    <i>
        Комментарий: парковка у магазина "100 мелочей". Аудитория находится на втором этаже, проход через кассы
    </i>
</div>
