@{
    ViewBag.Title = "Группа";
    Layout = "~/Views/Layouts/UserLayout.cshtml";
}

<div class="page_block">
    <span class="block_header_strong">Группа 17-67-0001</span><br />
    <br />
    <b>Курс</b>: <i>Навыки личной эффективности</i><br />
    <b>Площадка</b>: <i><a href="/home/area/1">г. Тюмень, ул. Московский тракт, дом 14а, аудитория 421</a></i><br />
    <b>Преподаватель</b>: <i><a href="/home/lecturer/1">Сидоренко Виталий Васильевич</a></i><br />
    <b>Дата начала обучения</b>: <i>12.05.2017</i><br />
    <b>Дата окончания обучения</b>: <i>14.05.2017</i><br />
    <b>Максимум студентов в группе</b>: <i>18</i><br />
    <b>Количество часов</b>: <i>24</i>

    <br />
    <br />
    Состав группы:
    <table class="learning">
        <thead>
            <th>№</th>
            <th>Студент</th>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Иванов Пётр Сергеевич</td>
            </tr>

            <tr>
                <td>2</td>
                <td>Галошкина Дарья Викторовна</td>
            </tr>

            <tr>
                <td>3</td>
                <td>Сарженко Максим Викторович</td>
            </tr>

            <tr>
                <td>4</td>
                <td>Удовенко Иван Григорьевич</td>
            </tr>

            <tr>
                <td>5</td>
                <td>Семёнов Олег Петрович</td>
            </tr>

            <tr>
                <td>6</td>
                <td>Сельских Екатерина Александровна</td>
            </tr>
        </tbody>
    </table>
</div>