@{
    ViewBag.Title = "Группа";
    Layout = "~/Views/Layouts/UserLayout.cshtml";
}

<div class="page_block">
    <span class="block_header_strong">Группа 17-67-0001</span><br />
    <br />
    <b>Курс</b>: <i>Мастерская личной эффективности</i><br />
    <b>Площадка</b>: <i><a href="/home/area/1">г. Тобольск, ул. Мира, дом 9</a></i><br />
    <b>Преподаватель</b>: <i><a href="/home/lecturer/1">Хорищенко Евгений Константинович</a></i><br />
    <b>Дата начала обучения</b>: <i>12.05.2017</i><br />
    <b>Дата окончания обучения</b>: <i>14.05.2017</i><br />
    <b>Максимум студентов в группе</b>: <i>18</i>

    <br />
    <br />
    Состав группы:
    <table class="learning">
        <thead>
            <th>№</th>
            <th>Студент</th>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Ахримов Денис Александрович</td>
            </tr>

            <tr>
                <td>2</td>
                <td>Митрофанова Виктория Сергеевна</td>
            </tr>

            <tr>
                <td>3</td>
                <td>Балановский Дмитрий Юрьевич</td>
            </tr>

            <tr>
                <td>4</td>
                <td>Басов Марк Андреевич</td>
            </tr>

            <tr>
                <td>5</td>
                <td>Карякин Иван Юрьевич</td>
            </tr>

            <tr>
                <td>6</td>
                <td>Греф Герман Оскарович</td>
            </tr>
        </tbody>
    </table>
</div>