@{
    ViewBag.Title = "Преподаватель";
    Layout = "~/Views/Layouts/UserLayout.cshtml";
}


<div class="page_block">
    <span class="block_header_strong">Хорищенко Евгений Константинович</span><br />
    <span style="font-style: italic;">Организация "ООО Обучим всех"</span><br />

    <div style="margin-bottom: -12px; text-align: center;">
        <img src="~/Files/Default/deafult_avatar.png">
    </div>

    <br />
    Контактные данные:
    <ul>
        <li>Email: zukaatoku@gmail.com</li>
        <li>Телефон: 8-908-865-89-31</li>
    </ul>

    Проводимые курсы:
    <table class="learning">
        <thead>
            <th>№</th>
            <th>Курс</th>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Навыки личной эффективности</td>
            </tr>

            <tr>
                <td>2</td>
                <td>Мастерство Power Point</td>
            </tr>

            <tr>
                <td>3</td>
                <td>Тайм-менеджмент</td>
            </tr>

            <tr>
                <td>4</td>
                <td>Мастерство скоропечатания</td>
            </tr>

            <tr>
                <td>5</td>
                <td>1С Предприятие</td>
            </tr>
        </tbody>
    </table>
</div>