<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Styles/AdministratorLayout.css" />
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
</head>
<body>
    <div class="panel">
        Вошли как: Хорищенко Е.К.<br /><a href="">Выход</a>
        <!--TODO: мб марджин сюда заебенить на пикселей 100?-->
        <ul>
            <li>Справочники
                <ul>
                    <li><a href="/catalog/areas">Площадки</a></li>
                    <li><a href="" class="disabled">Курсы</a></li>
                    <li><a href="" class="disabled">Сотрудники</a></li>
                    <li><a href="" class="disabled">Должности</a></li>
                </ul>
            </li>
            <li>Загрузка данных</li>
            <li>Панель администрирования(?)</li>
            <li>Отчёты</li>
        </ul>
    </div>

    <div>
        @RenderBody()
    </div>
</body>
</html>
