<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Styles/UserLayout.css" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="header">
        <a href="/home/feed" class="menu_link">
            <div class="navigation_button">
                Лента
            </div>
        </a>

        <a href="/home/mylearning" class="menu_link">
            <div class="navigation_button">
                Обучение
            </div>
        </a>

        <div class="navigation_button">
            Настройки
        </div>

        <div class="navigation_button" style="float: right;">
            Выход
        </div>
    </div>

    <div>
        @RenderBody()
    </div>
</body>
</html>
