body {
    margin: 0px;
    font-family: 'Open Sans';
    background-color: #f2f2f2;
}

a.disabled {
    font-style: italic;
    color: gray;
    text-decoration: none;
}

div.area_popup {
    width: 600px;
    height: 300px;
    border: 1px solid black;
    margin-left: 450px;
    border-radius: 15px;
    box-shadow: rgba(0,0,0,0.4) 5px 5px;
    padding: 10px;

    display: none;
}

div.area_popup input[type=text] {
    width: 580px;
}

div.area_popup textarea {
    width: 580px;
    height: 170px;
}

button.btn_success {
    width: 120px;
    height: 50px;
    background: linear-gradient(to top, #018300, #a3eb9d);
    color: white;
    border-radius: 7px;
    box-shadow: rgba(0,0,0,0.4) 2px 2px;
    margin-top: 7px;
}

button.btn_not_success {
    width: 120px;
    height: 50px;
    background: linear-gradient(to top, #de1212, #f3a1a1);
    color: white;
    border-radius: 7px;
    box-shadow: rgba(0,0,0,0.4) 2px 2px;
}

.page {
    /*background-color: lightgreen;*/
    width: 100%;
}

div.left_panel {
    /*background-color: pink;*/
    width: 250px;
    position: absolute;
    height: 100%;
}

div.right_panel {
    /*background-color: yellow;*/
    padding-left: 250px;
}

div.logo_placeholder {
    background-color: lightgreen;
    width: 200px;
    height: 80px;
    margin-left: 23px;
    line-height: 80px;
    text-align: center;
}

div.page_block {
    background-color: white;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid lightgray;

    margin-right: 10px;
}

span.block_header {
    font-size: 18px;
}

span.block_header_strong {
    font-size: 18px;
    font-weight: 600;
}

div.block_header_inner {
    border-bottom: 1px solid black;
    /*background-color: pink;*/
    font-size: 20px;
}


table.learning {
    /*width: 860px;*/
    width: 100%;
    /*background-color:#f2f2f2;*/
    background-color: white;
    border: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    margin-top: 14px;
}

.learning th {
    border: 0px;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    font-size: 14px;
}

.learning td {
    border: 0px;
    border-right: 1px solid lightgray;
    font-size: 14px;
}

tr.success {
    background-color: #c5f1c5;
}

tr.not_success {
    background-color: #f3d5da;
}

.learning tr:hover {
    background-color: lightgray;
}

.info_row {
    background-color: #cbdce1;
}


div.holder {
    display: none;;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    padding-top: 100px;
}

div.holder .page_block {
    width: 860px;
    margin: 0px auto;
}


button.negative {
    padding: 8px 8px 6px 8px;
    border-radius: 5px;
    background-color: white;
    border-color: #d64540;
    color: #d64540;
    /*font-weight: 600;*/
    font-size: 14px;
    transition: 0.1s;
}

button.negative:hover {
    cursor: pointer;
    background-color: #d9534f;
    color: white;
}

button.positive {
    padding: 8px 8px 6px 8px;
    border-radius: 5px;
    background-color: #428bca;
    color: white;
    font-size: 14px;
    transition: 0.1s;
}

button.positive:hover {
    cursor: pointer;
    background-color: white;
    color: #428bca;
}

div.button_panel_wrapper_right {
    text-align: right;
    margin-top: 10px;
    margin-bottom: -10px;
}

div.block_command_panel {
    margin: 5px 0px 40px 0px;
    background-color: red;
}

button.positive_green {
    padding: 8px 8px 6px 8px;
    border: 1px solid;
    border-radius: 5px;
    border-color: #3baa16;
    background-color: #3baa16;
    color: white;
    font-size: 14px;
    transition: 0.1s;
}

button.positive_green:hover {
    cursor: pointer;
    background-color: white;
    color: #3baa16;
}

button.neutral {
    padding: 8px 8px 6px 8px;
    border: 1px solid;
    border-radius: 5px;
    border-color: gray;
    background-color: white;
    color: gray;
    font-size: 14px;
    transition: 0.1s;
}

button.neutral:hover {
    cursor: pointer;
    background-color: gray;
    color: white;
}