body {
    margin: 0px;
    font-family: 'Open Sans';
    background-color: #f2f2f2;
}

div.header {
    /*background-color: #535252;*/
    width: 100%;
    height: 50px;
    /*border-bottom: solid 1px lightgray;*/
}

div.navigation_button_selected {
    display: inline-block;
    height: 100%;
    width: 140px;
    text-align: center;
    line-height: 50px;
    font-size: 14px;
    border-radius: 5px;
    color: white;
    background-color: #1a9f29;
}

div.navigation_button {
    color: black;
    display: inline-block;
    height: 100%;
    width: 140px;
    text-align: center;
    line-height: 50px;
    font-size: 14px;
    border-radius: 5px;
}

div.navigation_button:hover {
    color: white;
    cursor: pointer;
    /*background-color: #B0B0B0;*/
    /*border-top: 3px solid gray;*/
    /*line-height: 43px;*/
    transition: 0.09s;
    background-color: #1a9f29;
}

div.news_Information {
    background-color: lightblue;
    width:98%;
    border: 1px solid blue;
    border-radius: 5px;
    margin-left: 5px;
    padding: 5px;
    margin-top: 15px;
}

div.news_Positive {
    background-color: lightgreen;
    width:98%;
    border: 1px solid green;
    border-radius: 5px;
    margin-left: 5px;
    padding: 5px;
    margin-top: 15px;
}

div.news_Negative {
    background-color: pink;
    width:98%;
    border: 1px solid red;
    border-radius: 5px;
    margin-left: 5px;
    padding: 5px;
    margin-top: 15px;
}

div.news_Information_Readed {
    background-color: #f1f5fc;
    width:98%;
    border: 1px solid lightblue;
    border-radius: 5px;
    margin-left: 5px;
    padding: 5px;
    margin-top: 15px;
}

div.news_Positive_Readed {
    background-color: #f9fff9;
    width:98%;
    border: 1px solid lightgreen;
    border-radius: 5px;
    margin-left: 5px;
    padding: 5px;
    margin-top: 15px;
}

div.news_Negative_Readed {
    background-color: #fffafa;
    width:98%;
    border: 1px solid pink;
    border-radius: 5px;
    margin-left: 5px;
    padding: 5px;
    margin-top: 15px;
}


div.news_header {
    font-weight: 600;
}

div.news_time {
    float: right;
    color: darkgray;
}

.menu_link {
    text-decoration: none;
}

div.news_text {

}

div.group {
    line-height: 40px;
    padding-left: 10px;
    background-color: lightgray;
    /*opacity: 0.4;*/
}

div.group_done {
    line-height: 40px;
    background-color: lightgreen;
    padding-left: 10px;
}

div.group_failed {
    line-height: 40px;
    padding-left: 10px;
    background-color: pink;
}

div.group_done:hover {
    cursor: pointer;
}

div.group_failed:hover {
    cursor: pointer;
}

div.group:hover {
    cursor: pointer;
    /*opacity: 1.0;*/
}

div.hidden_block {
    font-size: 15px;
    line-height: 20px;
    margin-left: 20px;
    font-style: italic;
}

div.wrapper {
    margin-left: 10px;
}

div.course_wrapper {
    background-color: lightgray;
    line-height: 40px;
    padding-left: 10px;
}

div.course_soglasovan {
    background-color: lightgreen;
    padding: 5px;
    height: 175px;
    font-style: italic;
}

div.course_otkazan {
    background-color: pink;
    line-height: 40px;
    padding-left: 10px;
}

div.wrapper a {
    font-style: italic;
}

div.course_na_solgasovanii {
    background-color: lightblue;
    line-height: 40px;
    padding-left: 10px;
}

table {
    border-collapse: collapse;
    border: 1px solid gray;
}

th, td {
    border: 1px solid gray;
    padding: 10px;
}

div #vidget_placeholder {
    width: 860px;
    height: 300px;
    background-color: purple;
    margin-top: 15px;
    color: white;
    line-height: 300px;
    font-size: 50px;
    text-align: center;
}


div.page {
    width: 900px;
    margin: 0px auto;
}

div.page_block {
    background-color: white;
    padding: 20px;
    margin-bottom: 15px;


    border-radius: 5px;
    /*padding-bottom: 20px;*/
}

span.block_header {
    font-size: 18px;
}

table.learning {
    width: 860px;
    background-color:#f2f2f2;
    border: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    margin-top: 14px;

}

.learning th {
    border: 0px;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    font-size: 14px;
}

.learning td {
    border: 0px;
    border-right: 1px solid lightgray;
    font-size: 14px;
}

tr.success {
    background-color: #c5f1c5;
}

tr.not_success {
    background-color: #f3d5da;
}

.learning tr:hover {
    background-color: lightgray;
}

.info_row {
    background-color: #cbdce1;
}